.header {
    padding: 50px;
    background-color: black;
    color: blanchedalmond;
}

.main {
    background-color: green;
    padding: 50px;
    color: hotpink;
}

.footer {
    padding: 50px;
    color: indigo;
    background-color: lawngreen;
}